.interactive-button {
  //TODO: we can rename this selector if it needs. These buttons are used inside header and modal

  padding: 13px 46px;
  font-size: 12px;
  text-align: center;
  font-weight: $main-font-weight;
  line-height: calc(16 / 12);
  border: 1px solid $white-color;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  color: $white-color;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @mixin desktop {
    padding: 13px 41px;
  }

  &.active {
    color: $background-highlight-color;
    background-color: $accent-color;
    border-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
