.container {
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
  @include mobile {
    width: 320px;
  }
  @include tablet {
    width: 768px;
    padding-inline: 32px;
  }
  @include desktop {
    width: 1280px;
    padding-inline: 16px;
  }
}
