$main-color: black;
$white-color: white;
$background-highlight-color: #f7f7f7;
$accent-color: #ff6b01;
$copyright-color: #545454;
$red-color: #ff001b;
$grey-color: #8C8C8C;

$main-font: 'Roboto', sans-serif;
$main-font-weight: 500;