<footer class="footer">
  <div class="footer-container container">
    <p class="footer-paragraph">
      &copy; 2022 | All Rights Reserved | Developed with
      <span class="heart-icon">
        <svg class="icon-heart rotate-center" width="14" height="12.88">
          <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
      </span>
      by <a class="footer-link footer-link-js" href="">GoIT Students</a>
    </p>
  </div>
  <div class="footer-backdrop is-hidden">
    <div class="footer-modal">
      <button
        type="button"
        class="footer-closeModalBtn footer-closeModalBtn-js"
      >
        <svg width="30" height="30">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <h1 class="team-title">
        Software Development Team
        <svg class="icon-heart scale-down-center" width="15" height="15">
          <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
      </h1>
      <ul class="team-list">
        <li class="team-item">
          <div class="team-card">
            <img
              class="hidden-photo"
              src="./images/hidden-photo.png"
              alt="hidden-photo"
            />
            <img
              class="team-image"
              src="./images/team-photo/Veronika.jpg"
              alt="Photo"
            />
            <h2 class="team-item-title">
              <a
                class="github-link"
                href="https://github.com/Veronikanos"
                target="_blank"
              >
                <svg class="icon-github" width="14" height="14">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              Veronika
            </h2>
            <p class="team-position">Team lead</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team-card">
            <img
              class="team-image"
              src="./images/team-photo/Arsenii.jpg"
              alt="Photo"
            />
            <h2 class="team-item-title">
              <a
                class="github-link"
                href="https://github.com/smerch88"
                target="_blank"
              >
                <svg class="icon-github" width="14" height="14">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              Arsenii
            </h2>
            <p class="team-position">Scrum master</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team-card">
            <img
              class="team-image"
              src="./images/team-photo/Inna.jpg"
              alt="Photo"
            />
            <h2 class="team-item-title">
              <a
                class="github-link"
                href="https://github.com/InnaForkert"
                target="_blank"
              >
                <svg class="icon-github" width="14" height="14">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              Inna
            </h2>
            <p class="team-position">Developer</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team-card">
            <img
              class="team-image"
              src="./images/team-photo/Petro.jpg"
              alt="Photo"
            />
            <h2 class="team-item-title">
              <a
                class="github-link"
                href="https://github.com/Petro199"
                target="_blank"
              >
                <svg class="icon-github" width="14" height="14">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              Petro
            </h2>
            <p class="team-position">Developer</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team-card">
            <img
              class="team-image"
              src="./images/team-photo/Oleksii.jpg"
              alt="Photo"
            />
            <h2 class="team-item-title">
              <a
                class="github-link"
                href="https://github.com/TurchynykOleksii"
                target="_blank"
              >
                <svg class="icon-github" width="14" height="14">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              Oleksii
            </h2>
            <p class="team-position">Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
