<main>
    <section class="main-section">
        <div class="container">
            <div class="main-section__allcards">
                <div class="main-section__card">
                    <img src="/src/images/movies-example/1280.jpg" alt="" class="main-section__image" loading="lazy" />
                    <p class="main-section__name">
                        GREYHOUND <br />
                        <span class="main-section__description">Drama, Action | 2020</span>
                        <span class="main-section__rating">8.0</span>
                    </p>
                </div>
                <div class="main-section__card">
                    <img src="/src/images/movies-example/1280.jpg" alt="" class="main-section__image" loading="lazy" />
                    <p class="main-section__name">
                        GREYHOUND <br />
                        <span class="main-section__description">Drama, Action | 2020</span>
                        <span class="main-section__rating">8.0</span>
                    </p>
                </div>
                <div class="main-section__card">
                    <img src="/src/images/movies-example/1280.jpg" alt="" class="main-section__image" loading="lazy" />
                    <p class="main-section__name">
                        GREYHOUND <br />
                        <span class="main-section__description">Drama, Action | 2020</span>
                        <span class="main-section__rating">8.0</span>
                    </p>
                </div>
                <div class="main-section__card">
                    <img src="/src/images/movies-example/1280.jpg" alt="" class="main-section__image" loading="lazy" />
                    <p class="main-section__name">
                        GREYHOUND <br />
                        <span class="main-section__description">Drama, Action | 2020</span>
                        <span class="main-section__rating">8.0</span>
                    </p>
                </div>
                <div class="main-section__card">
                    <img src="/src/images/movies-example/1280.jpg" alt="" class="main-section__image" loading="lazy" />
                    <p class="main-section__name">
                        GREYHOUND <br />
                        <span class="main-section__description">Drama, Action | 2020</span>
                        <span class="main-section__rating">8.0</span>
                    </p>
                </div>
                <div class="main-section__card">
                    <img src="/src/images/movies-example/1280.jpg" alt="" class="main-section__image" loading="lazy" />
                    <p class="main-section__name">
                        GREYHOUND <br />
                        <span class="main-section__description">Drama, Action | 2020</span>
                        <span class="main-section__rating">8.0</span>
                    </p>
                </div>
                <div class="main-section__card">
                    <img src="/src/images/movies-example/1280.jpg" alt="" class="main-section__image" loading="lazy" />
                    <p class="main-section__name">
                        GREYHOUND <br />
                        <span class="main-section__description">Drama, Action | 2020</span>
                        <span class="main-section__rating">8.0</span>
                    </p>
                </div>
                <div class="main-section__card">
                    <img src="/src/images/movies-example/1280.jpg" alt="" class="main-section__image" loading="lazy" />
                    <p class="main-section__name">
                        GREYHOUND <br />
                        <span class="main-section__description">Drama, Action | 2020</span>
                        <span class="main-section__rating">8.0</span>
                    </p>
                </div>

            </div>
            <div class="main-section__page-numbers">
                <span class="main-section__arrows">
                    <svg class="main-section__arrow-icon">
                        <use href="./images/sprite.svg#icon-arrow-left"></use>
                    </svg> </span>
                <span class="main-section__page-number main-section__page-number--edge">1</span>
                <span class="main-section__page-number main-section__page-number--edge">...</span>
                <span class="main-section__page-number">13</span>
                <span class="main-section__page-number">14</span>
                <span class="main-section__page-number main-section__page-number--active">15</span>
                <span class="main-section__page-number">16</span>
                <span class="main-section__page-number">17</span>
                <span class="main-section__page-number main-section__page-number--edge">...</span>
                <span class="main-section__page-number main-section__page-number--edge">20</span>

                <span class="main-section__arrows">
                <svg class="main-section__arrow-icon">
                    <use href="./images/sprite.svg#icon-arrow-right"></use>
                </svg></span>

            </div>
        </div>
    </section>
</main>