<main>
  <section class="main-section">
    <div class="container">
      <div class="main-section__allcards">
        <div class="main-section__card">
          <div class="main-section__image-wrapper">
            <img
              src="/src/images/movies-example/1280.jpg"
              alt=""
              class="main-section__image"
              loading="lazy"
            />
          </div>
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
            <span class="main-section__rating">8.0</span>
          </p>
        </div>
        <div class="main-section__card">
          <div class="main-section__image-wrapper">
            <img
              src="/src/images/movies-example/1280.jpg"
              alt=""
              class="main-section__image"
              loading="lazy"
            />
          </div>
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
            <span class="main-section__rating">8.0</span>
          </p>
        </div>
        <div class="main-section__card">
          <div class="main-section__image-wrapper">
            <img
              src="/src/images/movies-example/1280.jpg"
              alt=""
              class="main-section__image"
              loading="lazy"
            />
          </div>
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
            <span class="main-section__rating">8.0</span>
          </p>
        </div>
        <div class="main-section__card">
          <div class="main-section__image-wrapper">
            <img
              src="/src/images/movies-example/1280.jpg"
              alt=""
              class="main-section__image"
              loading="lazy"
            />
          </div>
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
            <span class="main-section__rating">8.0</span>
          </p>
        </div>
        <div class="main-section__card">
          <div class="main-section__image-wrapper">
            <img
              src="/src/images/movies-example/1280.jpg"
              alt=""
              class="main-section__image"
              loading="lazy"
            />
          </div>
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
            <span class="main-section__rating">8.0</span>
          </p>
        </div>
        <div class="main-section__card">
          <div class="main-section__image-wrapper">
            <img
              src="/src/images/movies-example/1280.jpg"
              alt=""
              class="main-section__image"
              loading="lazy"
            />
          </div>
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
            <span class="main-section__rating">8.0</span>
          </p>
        </div>
      </div>
      <!-- <div class="main-section__page-numbers tui-pagination"> -->
      </div>
    </div>
  </section>
</main>
