<main>
  <section class="main-section">
    <div class="container">
      <div class="main-section__allcards"></div>
      <div class="main-section__pages">
        <ul class="main-section__pages-buttons">
          <li>
            <button
              type="button"
              class="main-section__pages-button main-section__arrow"
            >
              <svg class="icon icon-arrow-right" width="16px" height="16px">
                <use href="/src/images/sprite.svg#arrow-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" class="main-section__pages-button">1</button>
          </li>
          <li>
            <button
              type="button"
              class="main-section__pages-button main-section__arrow"
            >
              <svg class="icon icon-arrow-left" width="16px" height="16px">
                <use href="/src/images/sprite.svg#arrow-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
