<main>
  <section class="main-section">
    <div class="container">
      <div class="main-section__allcards">
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
