<main>
  <section class="main-section">
    <div class="container">
      <div class="main-section__allcards">
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
        <div class="main-section__card">
          <img
            src="/src/images/movies-example/1280.jpg"
            alt=""
            class="main-section__image"
            loading="lazy"
          />
          <p class="main-section__name">
            GREYHOUND <br />
            <span class="main-section__description">Drama, Action | 2020</span>
          </p>
        </div>
      </div>
      <div class="main-section__pages">
        <ul class="main-section__pages-buttons">
          <li>
            <button type="button" class="main-section__pages-button">
              <svg width="40px" height="40px">
                <use href="/src/images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" class="main-section__pages-button">1</button>
          </li>
          <li>
            <button type="button" class="main-section__pages-button">
              <svg width="40px" height="40px">
                <use href="/src/images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
