<div class="overflow visually-hidden">
  <div class="modal visually-hidden">
    <div class="modal__img">
      <img src="./images/film.jpg" alt="details film" />
    </div>
    <div class="modal__about">
      <div class="modal__headline">A FISTFUL OF LEAD</div>
      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal__item-first">Vote / Votes</div>
          <div class="modal__item-votes">
            <span class="modal__item-bg modal__item--accent">7.3</span> /
            <span class="modal__item-bg modal__item--grey">1260</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal__item-first">Popularity</div>
          <div>100.2</div>
        </li>
        <li class="modal__item">
          <div class="modal__item-first">Original Title</div>
          <div class="modal__item-title">A FISTFUL OF LEAD</div>
        </li>
        <li class="modal__item">
          <div class="modal__item-first">Genre</div>
          <div>Western</div>
        </li>
      </ul>
      <div class="modal__about-info">
        <p class="modal__about-headline">About</p>
        <p class="modal__about-text">
          Four of the West’s most infamous outlaws assemble to steal a huge stash
          of gold from the most corrupt settlement of the gold rush towns. But not
          all goes to plan one is killed and the other three escapes with bags of
          gold hide out in the abandoned gold mine where they happen across
          another gang of three – who themselves were planning to hit the very
          same bank! As tensions rise, things go from bad to worse as they realise
          the bags of gold are filled with lead... they’ve been double crossed –
          but by who and how?
        </p>
        <div class="modal__buttons">
          <button class="modal__btn-watched interactive-button">
            add to Watched
          </button>
          <button class="modal__btn-queue interactive-button">
            add to queue
          </button>
        </div>
      </div>
    </div>
    <button class="modal__close-btn">
      <svg width="30" height="30">
        <use href="./images/sprite.svg#close"></use>
      </svg>
      <!-- <img src="./images/close.svg" alt="close" /> -->
    </button>
  </div>
</div>
