.header {
  background-color: black;
  color: $white-color;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home {
  background-image: linear-gradient(#00000056, #00000056), url('../images/header/320/header-bg-320-1@1x.jpg');

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(#00000056, #00000056), url('../images/header/320/header-bg-320-1@2x.jpg');
  }

  @include tablet {
    background-image: linear-gradient(#00000056, #00000056), url('../images/header/768/header-bg768-1@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(#00000056, #00000056), url('../images/header/768/header-bg768-1@2x.jpg');
    }
  }

  @include desktop {
    background-image:
      linear-gradient(#00000056, #00000056), url('../images/header/1280/header-bg1280@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(#00000056, #00000056), url('../images/header/1280/header-bg1280@2x.jpg');
    }
  }
}

.library {
  background-image: linear-gradient(#00000056, #00000056), url('../images/library/320/library@1x.jpg');

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(#00000056, #00000056), url('../images/library/320/library@2x.jpg');
  }

  @include tablet {
    background-image: linear-gradient(#00000056, #00000056), url('../images/library/768/library@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(#00000056, #00000056), url('../images/library/768/library@2x.jpg');
    }
  }

  @include desktop {
    background-image: linear-gradient(#00000056, #00000056), url('../images/library/1280/library@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(#00000056, #00000056), url('../images/library/1280/library@2x.jpg');
    }
  }
}

.header-container {
  height: 230px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav {
  padding-top: 40px;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__controls {
    display: flex;
    gap: 40px;
    line-height: calc(14 / 12);

    &-item {
      text-transform: uppercase;
      position: relative;
    }
  }
}

.active-page {
  position: relative;
}

.active-page::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -2px;
  background: $accent-color;
  border-radius: 2px;
}

.website-name {
  display: inline-block;
  font-size: 30px;
  line-height: calc(35 / 30);

  @include mobile-only {
    display: none;
  }
}

.form-wrapper {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(16.5 / 14);
  color: #fff;
  max-width: 280px;
  margin: 0 auto;

  @include tablet {
    max-width: 336px;
    line-height: calc(16 / 14);
  }

  @include desktop {
    max-width: 394px;
  }


}

.header__form {
  font-size: inherit;
  text-align: center;
  position: relative;
  max-width: 280px;
  margin: 0 auto;

  @include tablet {
    max-width: 336px;
  }

  @include desktop {
    max-width: 394px;
  }

  &-input {
    background: transparent;
    border: none;
    border-bottom: 0.5px solid $white-color;
    width: 100%;
    outline: none;
    caret-color: $white-color;


    &::placeholder {
      color: $white-color;
    }

    &:focus {
      color: $white-color;
    }


  }



  &-button {

    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: -8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-warning {
    margin-top: 20px;
    text-align: center;
    color: $red-color;

    @include mobile-only {
      margin-top: 16px;
      text-align: start;
    }
  }
}



.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;

  @include desktop {
    gap: 16px;
  }
}