.main-section {
  padding-top: 20px;
  padding-bottom: 40px;

  &__allcards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__card {
    width: 280px;
    box-sizing: border-box;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px;
  }

  &__name {
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__description {
    color: $accent-color;
    text-transform: capitalize;
  }
}
