.main-section {
  padding-top: 20px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include desktop {
    font-size: 20px;
  }

  &__allcards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;

    @include tablet {
      gap: 32px;
      margin-bottom: 60px;
    }

    @include desktop {
      gap: 32px 16px;
      margin-bottom: 60px;
    }
  }

  &__card {
    width: 280px;
    box-sizing: border-box;

    @include tablet {
      width: 336px;
    }
    @include desktop {
      width: 394px;
    }
  }

  &__image-wrapper {
    height: 402px;
    width: 280px;
    @include tablet {
      height: 455px;
      width: 336px;
    }
    @include desktop {
      height: 574px;
      width: 395px;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  &__name {
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__description {
    color: $accent-color;
    text-transform: capitalize;
  }

  &__pages {
  }

  &__pages-buttons {
    display: flex;
    justify-content: center;
  }

  &__pages-button {
    border: transparent;
    background-color: transparent;
    border-radius: 5px;
    width: 40px;
    height: 40px;

    @include desktop {
      font-size: 12px;
    }

    &:hover {
      color: $white-color;
      background-color: $accent-color;
    }
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
