.modal {
  position: fixed;
  padding: 48px 20px;

  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: $white-color;
  overflow-y: scroll;
  height: 100%;

  z-index: 10;
  transition: transform 1000ms, opacity 500ms, scale 500ms;

  @include tablet {
    width: 704px;
    padding: 40px 36px;
  }

  @include desktop {
    width: 806px;
    padding: 40px 12px;
  }

  &__main {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      gap: 16px;
    }
  }
}

.modal__img {
  flex-basis: 50%;
  flex-shrink: 0;
  margin-bottom: 20px;

  img {
    width: 240px;

    @include tablet-only {
      width: 265px;
    }

    @include desktop {
      width: 375px;
    }
  }
}

.modal__about {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.modal__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__item {
  display: flex;
  align-items: center;
  line-height: calc(14.06 / 12);
  gap: 41px;

  @include tablet {
    gap: 83px;
  }
}

.modal__item-first {
  min-width: 80px;
  color: $grey-color;
}

.modal__item-bg {
  padding: 2px 10px;
  display: inline-block;
  border-radius: 5px;
}

.modal__item--accent {
  background-color: $accent-color;
  color: $white-color;
}

.modal__item--grey {
  background-color: $background-highlight-color;
  color: $main-color;
}

.modal__headline {
  font-size: 20px;
  line-height: calc(35.16 / 30);

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}

.modal__about-headline {
  text-transform: uppercase;
}

.modal__item-votes {
  color: $grey-color;
}

.modal__about-text {
  margin-top: 8px;
  margin-bottom: 20px;

  font-weight: 500;
  line-height: calc(20 / 12);
}

.modal__item-title {
  text-transform: uppercase;
}

.modal__close-btn {
  padding: 0;
  position: absolute;
  background-color: transparent;
  border: none;

  top: 8px;
  right: 8px;

  &:hover {
    cursor: pointer;
  }
}

.modal__buttons {
  display: flex;
  gap: 20px;
}

.overflow {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.329);
  z-index: 5;
  position: fixed;
  top: 0;
  transition: transform 1000ms, opacity 500ms, scale 500ms;
}
